/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */
 .content {
     position:relative;
     width:100% !important;
     margin: auto;
     padding:0px;
     height: 100%;
}
     #mat1{
         background:url(mat111.png) no-repeat 0px 200px;
         width:100%;
         height:200px;
         margin: auto;
     }

     #mat2{

         background:url(mat222.png) no-repeat 0px 200px;
         width:100%;
         height:200px;
         margin: auto;
     }

     #mat3{

         background:url(mat333.png) no-repeat 0px 200px;
         width:100%;
         height:200px;
         margin: auto;
     }
 .circle{
       max-width:133px !important;
 }
 body{

   background: url(../images/wh2marble.jpg);
    
 }
.row {
  height: 100% !important;
  margin: 0px !important;
}
nav ul a,
nav .brand-logo {
  color: #444;
}

p {
  line-height: 2rem;
}

.button-collapse {
  color: #26a69a;
}


.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {

  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}

h5{
    font-size: 13px;
}
