
#R1{
    text-align: center;
}
#R1u3{
    text-align: center;
    margin-right: 3px;
}
#R1u2{
    text-align: center;
    margin-right: 22px;
}
#R2{
    padding-top: 5px;
    padding-bottom: 20px;
}
#R2about{
    padding-bottom: 15px;
}
.clicked {
  background-color: darkgreen!important;
}
.aboutRow{
    text-align: center;
    margin-left: 40%;
    margin-right: 40%;
}
#age{
    text-align: center;
}
#tall{
    text-align: center;
}
#weight{
    text-align: center;
}
#R3{
    padding-top: 5px;
    padding-bottom: 20px;
    text-align: center;
}
#R3exercise{
    padding: 10px;
}
.exerciseRow{
    text-align: center;
    margin-left: 35%;
    margin-right: 35%;
}
#exercise{
    text-align: center;
}
.NextBtn{
    padding: 20px;
}
@media screen and (max-width:480px)
{
    #question2{
        margin-left: -100px;
    }
}
